Repository sihyonn/codingTest-study, pull requests merged in 2024-01, with the labels that each got.

#18 boj_2195[문자열 복사] 완료
  1. Greedy/boj_2195.js
  1. Greedy/input2195.txt
  1. Greedy/template/boj_1234.js
  1. Greedy/template/input1234.txt
Labels: enhancement

#21 chore: 스터디 이전 기록들, 리드미 수정
  .DS_Store
  4. BS/boj_1920.js
  4. BS/boj_2512.js
  4. BS/input_1920.txt
  4. BS/input_2512.txt
  4. BS/test.js
  8. Backtracking/test.js
  README.md
Labels: documentation

#22 boj_1744[수 묶기]완료
  1. Greedy/boj1715.js
  1. Greedy/boj1744.js
  1. Greedy/boj1931.js
Labels: COMMON, Greedy

#24 feat: solution boj_1715
  1. Greedy/boj_1715.js
  1. Greedy/input_1715.txt
  README.md
Labels: COMMON, Greedy

#23 Complete boj1744 problem
  1. Greedy/boj1744_input.txt
  1. Greedy/boj1931_input.txt
  1. Greedy/boj_1744.js
  1. Greedy/boj_1931.js
  1. Greedy/tempCodeRunnerFile.js
  README.md
Labels: COMMON, Greedy

#25 feat: solution boj_1744
  1. Greedy/boj_1744.js
  1. Greedy/boj_1931.js
  1. Greedy/input_1744.txt
  1. Greedy/input_1931.txt
  README.md
Labels: COMMON, Greedy

#27 완료: boj(1541, 5430) / programmers(이중우선순위큐)
  1. Greedy/boj1541.js
  problems/boj_5430.js
  problems/programmers_dobulepriority.js
Labels: Greedy

#26 boj_1715[카드 정렬하기] 완료
  1. Greedy/boj_1715.js
  1. Greedy/input1715.txt
Labels: COMMON, Greedy

#34 sihyonn: solution boj_1744[수 묶기]
  1. Greedy/boj_1744.js
  1. Greedy/input1744.txt
Labels: Common, Greedy

#35 하태훈(Hooni): solution boj_1715
  1. Greedy/boj_11399.js
  1. Greedy/boj_1715.js
  1. Greedy/boj_1744.js
  1. Greedy/boj_1931.js
  1. Greedy/input_boj11399.txt
  1. Greedy/input_boj1715.txt
  1. Greedy/input_boj1744.txt
  1. Greedy/input_boj1931.txt
  1. Greedy/tempCodeRunnerFile.js
  README.md
Labels: Common, Greedy

#36 jihye: solution boj_11508[2+1]
  1. Greedy/boj_11508.js
  1. Greedy/input_11508.txt
  README.md
Labels: Greedy, Private

#38 Taehoon
  1. Greedy/Week1 Greedy Algorithm(1.8~1.12) .pdf
  1. Greedy/boj_1744.js
  1. Greedy/input_boj1744.txt
  2. Sorting/boj_10814.js
  2. Sorting/boj_1377.js
  2. Sorting/boj_24062.js
  2. Sorting/input_boj10814.txt
  2. Sorting/input_boj1377.txt
  2. Sorting/input_boj24062.txt
  2. Sorting/test.js
Labels: Common, Sorting, Implementation

#43 Taehoon: solution boj_10814[나이순 정렬]
  2. Sorting/boj_10814.js
  2. Sorting/input_boj10814.txt
  2. Sorting/input_boj24062.txt
Labels: Common, Sorting

#44 jihye: solution boj_1377[버블 정렬]
  2. Sorting/boj_1377.js
  2. Sorting/input.txt
Labels: Common, Sorting

#46 sihyeon: solution boj_4796[캠핑]
  1. Greedy/boj_4796.js
  1. Greedy/input4796.txt
  2. Sorting/boj_10814.js
  2. Sorting/input10814.txt
Labels: Greedy, Private

#47 jihye: solution boj_24062 [병합 정렬3]
  2. Sorting/boj_24062.js
  2. Sorting/input.txt
  README.md
Labels: Common, Sorting

#49 taehoon: solution boj_24062 [병합 정렬3]
  2. Sorting/boj_24062.js
  2. Sorting/tempCodeRunnerFile.js
Labels: help wanted, Common, Sorting

#50 jihye: solution boj_1946 [신입 사원]
  2. Sorting/boj_1946.js
  2. Sorting/input.txt
Labels: Sorting, Private

#52 sihyeon: solution boj_24062[병합정렬3]
  2. Sorting/boj_24062.js
  2. Sorting/input24062.txt
Labels: Common, Sorting

#57 taehoon: solution boj_2110 [공유기 설치]
  3. BS/boj_1654.js
  3. BS/boj_2110.js
  3. BS/boj_2805.js
  3. BS/input_boj1654.txt
  3. BS/input_boj2110.txt
  3. BS/input_boj2805.txt
  3. BS/test.js
  3. DFS-BFS/boj_2110.js
  3. DFS-BFS/input_boj2110.txt
  4. DFS-BFS/test.js
Labels: help wanted, Common, BS

#58 jihye: solution boj_2805[나무자르기]
  4. BS/boj_2805.js
  4. BS/input.txt
  4. BS/input_1920.txt
  4. BS/input_2343.txt
  4. BS/input_2512.txt
  4. BS/input_2776.txt
Labels: Common, BS

#55 sihyeon: solution boj_2805[나무자르기], boj_1654[랜선 자르기]
  4. BS/boj_1654.js
  4. BS/boj_2805.js
  4. BS/input2805.txt
Labels: Common, BS

#60 jihye: solution boj_1654 [랜선 자르기]
  4. BS/boj_1654.js
  4. BS/input.txt
Labels: Common, BS

#61 jihye: solution boj_2110[공유기 설치]
  4. BS/boj_2110.js
  4. BS/input.txt
Labels: Common, BS

#62 sihyeon: solution boj_2110[공유기 설치]
  4. BS/boj_2110.js
  4. BS/input2110.txt
Labels: Common, BS

#59 taehoon: solution boj_2805 [나무 자르기]
  3. BS/boj_2110.js
  3. BS/boj_2805.js
  3. BS/input_boj2805.txt
Labels: Common, BS

#64 taehoon: solution boj_22343 [기타 레슨]
  3. BS/boj_2343.js
  3. BS/boj_2470.js
  3. BS/boj_2512.js
  3. BS/input_boj2343.txt
  3. BS/input_boj2470.txt
  3. BS/input_boj2512.txt
Labels: Common, BS

#66 feat: solution boj_2512[예산]
  4. BS/boj_2343.js
  4. BS/boj_2512.js
  4. BS/input.txt
Labels: Common, BS

#68 sihyeon: solution boj_6236[용돈관리]
  4. BS/boj_6236.js
  4. BS/input6236.txt
Labels: BS, Private

#70 feat: solution boj_2343 [기타레슨]
  4. BS/boj_2343.js
  4. BS/input.txt
Labels: Common, BS

#71 sihyeon: solution boj_2343[기타레슨], boj_2512[예산]
  4. BS/boj_2343.js
  4. BS/boj_2512.js
Labels: Common, BS

#72 feat: solution boj_2470[두 용액]
  4. BS/boj_10826.js
  4. BS/boj_2470.js
  4. BS/input.txt
Labels: Common, BS

#73 feat: solution boj_18353[병사배치하기]
  4. BS/boj_18353.js
  4. BS/input.txt
Labels: BS, Private
