Repository sihyonn/codingTest-study, pull requests merged in 2024-02, with the labels that each got.

#69 taehoon: solution boj_2470 [두 용액]
  1. Greedy/Week1 Greedy Algorithm(1.8~1.12) .pdf
  1. Greedy/boj_11399.js
  1. Greedy/boj_1715.js
  1. Greedy/boj_1744.js
  1. Greedy/boj_1931.js
  1. Greedy/input_boj11399.txt
  1. Greedy/input_boj1715.txt
  1. Greedy/input_boj1744.txt
  1. Greedy/input_boj1931.txt
  2. Sorting/2주차_Sorting_Algorithm_하태훈.pdf
  2. Sorting/boj_10814.js
  2. Sorting/boj_1377.js
  2. Sorting/boj_24062.js
  2. Sorting/input_boj10814.txt
  2. Sorting/input_boj1377.txt
  2. Sorting/input_boj24062.txt
  2. Sorting/tempCodeRunnerFile.js
  3. BS/boj_1654.js
  3. BS/boj_2110.js
  3. BS/boj_2343.js
  3. BS/boj_2470.js
  3. BS/boj_2512.js
  3. BS/boj_2805.js
  3. BS/input_boj1654.txt
  3. BS/input_boj2110.txt
  3. BS/input_boj2343.txt
  3. BS/input_boj2470.txt
  3. BS/input_boj2512.txt
  3. BS/input_boj2805.txt
  3. BS/test.js
  4. BS/test.js
  4. DFS-BFS/test.js
  README.md
  Weekly_problem/template.js
  Weekly_problem/week1/b1715.js
  Weekly_problem/week1/b1744.js
  Weekly_problem/week1/b1931.js
Labels: Common, BS

#76 taehoon: solution boj_2512[예산]
  3. BS/boj_2470.js
  3. BS/boj_2512.js
  3. BS/input_boj2470.txt
  3. BS/input_boj2512.txt
Labels: Common, BS

#74 sihyeon: solution boj_1939[중량제한]
  4. BS/boj_1939.js
  4. BS/input1939.txt
Labels: BS, Private

#77 sihyeon: solution boj_2470[두 용액]
  4. BS/boj_2470.js
  4. BS/input2470.txt
Labels: Common, BS

#78 jihye: solution boj_1300[k번째 수]
  4. BS/boj_1300.js
  4. BS/input.txt
Labels: BS, Private

#82 taehoon: solution boj_2606[바이러스]
  4. DFS-BFS/boj_11725.js
  4. DFS-BFS/boj_2178.js
  4. DFS-BFS/boj_2606.js
  4. DFS-BFS/boj_2644.js
  4. DFS-BFS/boj_4963.js
  4. DFS-BFS/input_boj11725.txt
  4. DFS-BFS/input_boj2178.txt
  4. DFS-BFS/input_boj2606.txt
  4. DFS-BFS/input_boj2644.txt
  4. DFS-BFS/input_boj4963.txt
  4. DFS-BFS/test.js
Labels: Common, DFS

#83 sihyeon: solution boj_2606[바이러스]
  3. DFS-BFS/boj_2606.js
  3. DFS-BFS/input2606.txt
Labels: Common, DFS

#84 taehoon: solution boj_2178[미로 탐색]
  4. DFS-BFS/boj_2178.js
  4. DFS-BFS/input_boj2178.txt
Labels: BFS

#86 sihyeon: solution boj_2178[미로 탐색]
  3. DFS-BFS/boj_2178.js
  3. DFS-BFS/input2178.txt
Labels: Common, BFS

#87 sihyeon: solution boj_11725[트리의 부모 찾기]
  3. DFS-BFS/boj_11725.js
  3. DFS-BFS/input11725.txt
Labels: Common, BFS

#88 feat: solution boj_2606 [바이러스]
  3. DFS-BFS/boj_2606.js
  3. DFS-BFS/input.txt
Labels: Common, DFS

#89 feat: solution boj_2178[미로 탐색]
  3. DFS-BFS/boj_2178.js
  3. DFS-BFS/input.txt
Labels: Common, BFS

#90 feat: solution boj_11725
  3. DFS-BFS/boj_11725.js
  3. DFS-BFS/input.txt
Labels: Common, BFS

#85 taehoon: solution boj_11725[트리의 부모 노드], boj_4963[섬의 개수]
  4. DFS-BFS/boj_11725.js
  4. DFS-BFS/boj_4963.js
  4. DFS-BFS/input_boj11725.txt
  4. DFS-BFS/input_boj4963.txt
Labels: Common, DFS, BFS

#91 taehoon: solution boj_2644[촌수 계산]
  4. DFS-BFS/boj_2644.js
  4. DFS-BFS/input_boj2644.txt
Labels: Common, DFS
